/.next
node_modules
src/generated
src/generated/**
prisma/migrations
dist

# Ignore prisma generated wasm/runtime files which cause lint noise
src/generated/prisma/runtime/**
src/generated/prisma/wasm.js
src/generated/prisma/query_engine_bg.wasm